html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

.line_wrapper {
    width: 100%;
    background: url(../img/bg_top.jpg) no-repeat;
    background-size: cover;
}

.top {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 74px;
}

.topmenu {
    float: left;
}

.registration {
    margin: 0 0 10px 31px;
}

.button {
    background: linear-gradient(to top, rgb(221,178,56), rgb(242,214,122));
    color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
    border-bottom: 1px dotted rgb(242,215,124);
    letter-spacing: 0.4px;
}

.between {
    background: linear-gradient(to top, rgb(160,129,39), rgb(164,146,86));
    color: transparent;
    -webkit-background-clip: text;
    font-weight: bolder;
}

.search input[type='search'] {
    width:211px;
    height: 30px;
    display: inline-block;
    padding: 9px 10px 10px 8px;
    background: rgba(71,71,71,0.5);
    border: 1px solid rgb(71,71,71);
    color: rgb(229,229,229);
    font-size: 15px;
    outline: none;
}

.search {
    position: relative;
    display: inline-block;
}

.search::after {
    content: '';
    display: inline-block;
    width: 13px;
    height: 14px;
    position: absolute;
    top: 7px;
    left: 188px;
    background: url(../img/sprite.png) -48px -65px no-repeat;
}

.search:hover input[type='search'] {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #eec652;
    color: #d0d0d0;
}

.search:hover::after {
    background: url(../img/sprite.png) -48px -80px no-repeat;
}

.logo {
    display: inline-block;
    margin: -46px 0 0 193px;
    width: 217px;
    height: 150px;
}

.logo img {
    width: 100%;
}

.phones {
    float: right;
}

.phone_number {
    font-size: 20px;
    color: #f1f1f1;
    margin: 4px 1px 0 0;
}

.number_low {
    font-size: 18px;
}

.number_high {
    font-size: 22px;
}

.arrow {
    display: inline-block;
    position: relative;
    width:14px;
    height: 14px;
    background: rgba(71,71,71,0.5);
    border: 1px solid rgb(71,71,71);
    margin: 0 0 0 5px;
    cursor: pointer;
}

.arrow::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
    top: 3px;
    left: 4.4px;
}

.number_list {
    background: #ffffff;
    border: 1px solid #eec652;
    box-sizing: border-box;
    color: #000;
    text-align: right;
    padding: 20px 15px 20px 9px;
}

.wrap_num_list {
    position: absolute;
    display: none;
    width: 210px;
    top: 27px;
    right: -3px;
    z-index: 2;
    padding-top: 30px;
    margin-top: -30px;
}

.arrow:hover .wrap_num_list {
    display: block;
}

.number_list>li:not(:last-child) {
    margin-bottom: 7px;
}

.arrow:hover {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #eec652;
}

.back_call {
    font-size: 16px;
    margin: 8px 0 0 36px;
    letter-spacing: 0.6px;
}

.wrapper_header_menu {
    border-top: 1px solid #454545;
    margin-top: 24px;
}

.header_menu {
    margin: -1px auto;
    text-align: center;
}

.header_menu>li {
    display: inline-block;
    padding: 15px 0;
    margin: 0 21px;
    position: relative;
    border-top: 2px solid transparent;
}

.header_menu>li>a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 14px;
    padding: 25px 0;
}

.header_menu>li:not(:last-child)::after {
    content: '';
    display: inline-block;
    background: url(../img/sprite.png) -65px -66px no-repeat;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 21px;
    right: -25px;
}

.header_menu>li:hover {
    border-top: 2px solid #ecce77;
}

.header_menu>li:hover>a {
    background: linear-gradient(to top, rgb(221, 178, 56), rgb(242, 214, 122));
    color: transparent;
    -webkit-background-clip: text;
}

.triangle {
    position: absolute;
    width: 0;
    border-bottom: 5px solid #000000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    top: -5px;
    left: 27px;
}

.wrap_header_sub_menu {
    position: absolute;
    top: 45px;
    margin-top: -11px;
    padding-top: 22px;
    display: none;
    width: 400px;
    z-index: 2;
}

.header_menu>li:hover .wrap_header_sub_menu {
    display: block;
}

.header_sub_menu {
    background: url(../img/bg_top.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    width: 400px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.submenu {
    width: 49.875%;
    box-sizing: border-box;
    display: inline-block;
    float: left;
}

.title_submenu {
    position: relative;
    background: linear-gradient(to top, rgb(221, 178, 56), rgb(242, 214, 122));
    color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    border-bottom: 1px solid #494949;
    width: 118px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 8px 0;
    font-size: 14px;
}

.title_submenu::before {
    content: '';
    display: inline-block;
    background: url(../img/sprite.png) -65px -66px no-repeat;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 23px;
    left: 7px;
}

.title_submenu::after {
    content: '';
    display: inline-block;
    background: url(../img/sprite.png) -65px -66px no-repeat;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 23px;
    left: 102px;
}

.list_submenu {
    list-style: disc;
    list-style-position: inside;
    color: #f1f1f1;
    text-align: left;
    padding: 6px 0 25px 0;
}

.list_submenu>li {
    padding: 12px 0 0 39px;
}

.list_submenu>li>a {
    text-decoration: none;
    color: #f1f1f1;
}

.list_submenu>li>a:hover {
    text-decoration: underline;
}

.divider {
    display: inline-block;
    width: 1px;
    height: 254px;
    margin-top: 21px;
    background: rgba(255,255,255,0.05);
    float: left;
}

.line_wrapper_2 {
    width: 100%;
    background: linear-gradient(to top, #9e9fab, #5c5c65);
}

.slider {
    max-width: 1024px;
    height: 525px;
    margin: 0 auto;
    position: relative;
}

.button_2 {
    display: block;
    height: 43px;
    width: 43px;
    background-color: rgba(0,0,0,0.15);
    position: absolute;
    top: 255px;
    cursor: pointer;
}

.button_2::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-right: 1px solid #8f8f96;
    border-bottom: 1px solid #8f8f96;
    transform: rotate(135deg);
    top: 16px;
    left: 19px;
}

.button_2:hover {
    background-color: #060606;
}

.button_2:hover .button_2::after {
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.slider_content_1 {
    position: absolute;
    top: 174px;
    left: 72px;
}

.span_top {
    display: block;
    color: #f1f1f1;
    font-size: 38px;
    padding: 0 0 10px 0;
}

.span_bot {
    display: block;
    color: #f1f1f1;
    font-size: 44px;
    font-weight: 900;
    border-top: 1px solid #a7a7b0;
    letter-spacing: 2.5px;
    padding: 10px 0 0 0;
}

.button_look {
    position: absolute;
    top: 148px;
    left: 96px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.button_look>a {
    text-decoration: none;
    color: #16130c;
    font-size: 16px;
    padding: 6px 32px;
    border: 2px solid #c19324;
    background: linear-gradient(to top, #ecbd38, #f2d67a);
}

.button_look>a:hover {
    color: #fff;
    border: 2px solid #a32424;
    background: linear-gradient(to top, #cd0304, #d63232);
}

.slider_content_2 {
    float: right;
}

.img_man {
    margin: 31px 0 0 0;
}

.button_3 {
    display: block;
    height: 43px;
    width: 43px;
    background-color: rgba(0,0,0,0.15);
    position: absolute;
    top: 255px;
    right: 0;
    cursor: pointer;
}

.button_3::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-right: 1px solid #8f8f96;
    border-bottom: 1px solid #8f8f96;
    transform: rotate(315deg);
    top: 17px;
    left: 13px;
}

.button_3:hover {
    background-color: #060606;
}

.button_3:hover .button_3::after {
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.line_wrapper_3 {
    width: 100%;
    background: #ffffff;
    position: relative;
}

.banners {
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 0;
}

.banners>div:not(:last-child) {
    margin-right: 27px;
}

.banner_windows {
    display: inline-block;
    position: relative;
    width: 320px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.banner_pics {
    display: block;
    margin: 5px;
    width: 310px;
    height: 180px;
    overflow: hidden;
}

.banner_button {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 310px;
    padding: 20px 0 0 0;
    background: rgba(0,0,0,0.5);
    top: 61px;
    left: 5px;
    color: #f1f1f1;
    text-decoration: none;
    font-weight: bold;
}

.banner_text {
    margin: 0 auto;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.banner_link {
    display: inline-block;
    margin: 20px 67px;
}

.banner_windows:hover .banner_button {
    background: linear-gradient(to top, rgba(236,189,56,0.8), rgba(242,214,122,0.8));
    color: #000;
}

.banner_windows:hover .button {
    color: #fff;
    border-bottom: 1px dotted #fff;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    background: transparent;
    position: relative;
}

.hot_proposition {
    display: block;
    color: #000;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0 15px 0;
    margin: 0 auto;
    border-bottom: 2px solid #e5e5e5;
}

.clicker {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    float: right;
    background: rgba(0,0,0,0.3);
}

.right_arrow {
    right: 1px;
    top: 43px;
    cursor: pointer;
}

.right_arrow::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 5px;
    width: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    top: 7px;
    right: 8px;
    transform: rotate(-45deg);
}

.left_arrow {
    right: 24px;
    top: 43px;
    cursor: pointer;
}

.left_arrow::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 5px;
    width: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    top: 7px;
    right: 7px;
    transform: rotate(135deg);
}

.clicker:hover {
    background: rgba(0,0,0,1);
}

.hot {
    display: inline-block;
    width: 231px;
}

.hot:not(:last-child) {
    margin-right: 31px;
}

.hot_wrapper {
    display: inline-block;
    position: relative;
    width: 231px;
    margin-top: 40px;
    outline: 1px solid #e5e5e5;
}

.hot_img {
    display: block;
    margin: 7px;
    width: 217px;
    height: 333px;
    overflow: hidden;
}

.profit {
    position: absolute;
    width: 96px;
    height: 31px;
    box-sizing: border-box;
    padding: 6px 0;
    top: 17px;
    left: -5px;
    background: url("../img/sprite.png") 0 0 no-repeat;
    text-align: center;
    color: #000;
    font-size:  12px;
    font-weight: bold;
}

.hot_sign {
    display: inline-block;
    margin-top: 12px;
    font-size: 14px;
    text-decoration: underline;
    color: #000;
    line-height: 22px;
    letter-spacing: 0.4px;
}

.hot_hover {
    position: absolute;
    background: rgba(0,0,0,0.6);
    width: 253px;
    height: 432px;
    box-sizing: border-box;
    padding: 132px 33px;
    outline: 1px solid  #ededed;
    top: -10px;
    left: -10px;
    color: #f1f1f1;
    font-size: 21px;
    display: none;
}

.hot_price {
    font-weight: bold;
}

.hot_hover_price {
    padding: 20px 0;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    margin: 0 4px;
}

.hot_button {
    border: 2px solid #c19324;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(to top, rgb(221, 178, 56), rgb(242, 214, 122));
    margin: 60px 15px;
    padding: 10px 37px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.hot:hover .hot_hover {
    display: inline-block;
}

.hot:hover .profit {
    display: none;
}

.hot:hover .hot_wrapper {
    outline: none;
}

.backet {
    display: block;
    position: fixed;
    top: 450px;
    z-index: 4;
    right: -58px;
    transform: rotate(270deg);
    height: 40px;
    width: 156px;
    box-sizing: border-box;
    border: 2px solid #c19324;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: linear-gradient(to top, #ecbd38, #f2d67a);
    color: #000;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.bag {
    display: inline-block;
    height: 22px;
    width: 20px;
    margin: 5px 22px -2px 15px;
    background: url("../img/sprite.png") 0 -66px no-repeat;
}

.backet_name {
    display: inline-block;
}

.backet:hover {
    border: 2px solid #a32424;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: linear-gradient(to top, #cc0203, #d63233);
    color: #fff;
}

.backet:hover .bag {
    background: url("../img/sprite.png") -24px -66px no-repeat;
}

.wrapper_for_new {
    margin-top: 34px;
}

.latest {
    background: url("../img/sprite.png") 0 -33px no-repeat;
    letter-spacing: 0.5px;
}

.wrapper_about {
    margin-top: 53px;
    letter-spacing: 0.5px;
}

.about_img {
    display: inline-block;
    border: 1px solid #e5e5e5;
    margin: 0 19px 0 0;
    float: left;
}

.about {
    font-size: 14px;
    color: #555555;
    margin-top: 40px;
    line-height: 19px;
}

.about_text {
    font-size: 14px;
    color: #555555;
    line-height: 19px;
    padding-bottom: 140px;
    margin-bottom: 14px;
}

.chat {
    display: block;
    position: absolute;
    bottom: 4px;
    right: -1px;
    height: 40px;
    width: 156px;
    box-sizing: border-box;
    border: 2px solid #c19324;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: linear-gradient(to top, #ecbd38, #f2d67a);
    color: #000;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.chat_icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 9px 9px -4px 15px;
    background: url("../img/sprite.png") -79px -66px no-repeat;
}

.chat_name {
    display: inline-block;
    letter-spacing: 0.9px;
}

.chat:hover {
    border: 2px solid #a32424;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: linear-gradient(to top, #cc0203, #d63233);
    color: #fff;
}

.chat:hover .chat_icon {
    background: url("../img/sprite.png") -79px -86px no-repeat;
}

.wrapper_footer_menu {
    border-bottom: 1px solid #454545;
    max-width: 1024px;
    margin: 0 auto;
}

.footer_menu {
    margin: -1px auto;
    box-sizing: border-box;
}

.footer_menu>li {
    display: inline-block;
    padding: 15px 0;
    margin: 0 21px;
    position: relative;
    border-bottom: 2px solid transparent;
}

.footer_menu>li:hover {
    border-bottom: 2px solid #ecce77;
    border-top: none;
}

.logo_footer {
    display: inline-block;
    margin: 27px 0 27px -4px;
    width: 217px;
    height: 150px;
}

.logo_footer img {
    width: 100%;
}

.telephones {
    display: inline-block;
    margin: 76px 98px;
    position: absolute;
}

.telephones_bar {
    display: inline-block;
    color: #f1f1f1;
    font-size: 18px;
}

.telephones_bar>span {
    display: block;
    padding: 4px 16px;
}

.telephone_divider {
    display: inline-block;
    width: 1px;
    height: 40px;
    background: linear-gradient(to top, rgb(221,178,56), rgb(242,214,122));
}

.copyright {
    display: inline-block;
    position: absolute;
    right: -9px;
    top: 77px;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #f1f1f1;
}

.sub_copyright {
    display: block;
    padding: 7px 0;
}

.copyright_icon {
    display: inline-block;
    height: 31px;
    width: 31px;
    background: url("../img/sprite.png") 0 -94px no-repeat;
    margin: -9px 9px;
}

.b_popup{
    display: none;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;
}

.b_popup .b_popup_content{
    position: relative;
    margin:40px auto 0 auto;
    width: 350px;
    padding: 20px 0 20px 20px;
    background: url(../img/bg_top.jpg) no-repeat;
    background-size: cover;
    border: 1px solid #c19324;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

.enter_the_number {
    background: linear-gradient(to top, rgb(221,178,56), rgb(242,214,122));
    color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
    letter-spacing: 0.4px;
}

.example_of_number {
    display: block;
    font-size: 12px;
    color: #878794;
}

.input_number {
    margin-top: 15px;
    margin-bottom: 5px;
    background: rgba(71,71,71,0.5);
    border: 1px solid rgb(71,71,71);
    color: rgb(229,229,229);
    font-size: 15px;
    outline: none;
}

.submit_number {
    display: block;
    background: linear-gradient(to top, rgb(221,178,56), rgb(242, 214, 122));
    border: 1px solid #c19324;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
}

.submit_number:hover {
    background: linear-gradient(to top, rgb(251, 207, 57), rgb(242, 214, 122));
}

.submit_number:active {
    background: linear-gradient(to top, rgb(198, 161, 50), rgb(242, 214, 122));
}

.hide_popup {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    padding: 4px 4px 0 9px;
    text-decoration: none;
    cursor: pointer;
}

.exit_popup {
    display: inline-block;
    height: 18px;
    width: 3px;
    background: #F2D67A;
}

.exit_1 {
    transform: rotate(45deg);
}

.exit_2 {
    transform: rotate(135deg);
    margin-left: -7px;
}

.online_chat_content {
    position: relative;
    margin:40px auto 0 auto;
    width: 500px;
    box-sizing: border-box;
    padding: 20px 25px;
    background: url(../img/bg_top.jpg) no-repeat;
    background-size: cover;
    border: 1px solid #c19324;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

.chat_window {
    border: 1px solid #ffffff;
    background: #060606;
    padding: 10px;
    width: 450px;
    height: 320px;
    box-sizing: border-box;
    overflow-Y: auto;
}

.message {
    position: relative;
    max-width: 350px;
    border-radius: 5px;
    padding: 7px;
    margin: 10px;
}

.message p {
    margin: 0;
}

.admin_message .message {
    background: #dbea0c;
    float: left;
}

.user_message .message {
    background: #15c9ea;
    float: right;
}

.admin_message .message::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: 12px solid #dbea0c;
    border-top: 7px solid transparent;
    bottom: 6px;
    left: -12px;
}

.user_message .message::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid #15c9ea;
    border-top: 7px solid transparent;
    bottom: 6px;
    right: -12px;
}

#sendie {
    margin-top: 15px;
    max-width: 300px;
    min-width: 300px;
    max-height: 36px;
    min-height: 36px;
    overflow: auto;
}

.send_button {
    display: inline-block;
    border-radius: 3px;
    background: #eda630;
    padding: 7px;
    float: right;
    margin: 18px 30px 0 7px;
    cursor: pointer;
}

.hide_chat {
    position: absolute;
    display: block;
    bottom: 26px;
    right: 23px;
    padding: 4px 4px 0 9px;
    text-decoration: none;
    cursor: pointer;
}

.exit_chat {
    display: inline-block;
    height: 25px;
    width: 3px;
    background: #F2D67A;
}